@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --strongcyan : hsl(172, 67%, 45%);
    --Cyan: hsl(172, 70%, 59%);
    --DarkCyan: hsl(172, 57%, 50%);
    --darkgrayishcyan: hsl(186, 14%, 43%);
    --darkgrayishcyan2:hsl(184, 14%, 56%);
    --lightgrayishcyan:hsl(185, 41%, 84%);
    --verylightgraycyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --main : #01545ae0;
}

/* to be added in JS */

.people.people-text{
    color: red;
    display: flex;
}

