@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --strongcyan : hsl(172, 67%, 45%);
    --Cyan: hsl(172, 70%, 59%);
    --DarkCyan: hsl(172, 57%, 50%);
    --darkgrayishcyan: hsl(186, 14%, 43%);
    --darkgrayishcyan2:hsl(184, 14%, 56%);
    --lightgrayishcyan:hsl(185, 41%, 84%);
    --verylightgraycyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --main : #01545ae0;
}

/* to be added in JS */

.show-error{
    visibility: visible;
    opacity: 1;
    transition: 1s ease-in-out;
    color: red;
}

.custom::placeholder{
    position: absolute;
    color: hsl(183, 100%, 15%);
    left: .9rem;
}



/* MEDIA QUERIES */

@media  screen and (max-width: 600px) {
     
    }